.product-card {

  width: 350px;
  height: 450px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.product-card:hover {
  transform: scale(1.01);
  cursor: pointer;
  box-shadow: 10px 34px 38px rgba(128, 128, 128, 0.1);
}

.product-card img {
  width: 100%;
}
.btn{
  cursor: pointer;
}
.content {
  margin-top: 20px;
  margin-left: 20px;
}


/* for large screens  */


@media (max-width:1216px) {
  .product-card {
    width: 300px;
    height: 400px;
    font-size: small;

  }

  .product-card img {
    width: 100%;
    height: 300px;


  }
}

@media (max-width:1024px) {
  .product-card {
    width: 300px;
    height: 400px;
    font-size: small;
  }

  .product-card img {
    width: 100%;
    height: 300px;
 

  }
}

/* medium devices  */
@media (max-width:768px) {
  .product-card {
    width: 350px;
    height: 400px;
    font-size: small;
  }

  .product-card img {
    width: 100%;
    height: 300px;
    margin-left: 0px;

  }
}



/* small devices  */

@media (max-width:350px) {
  .product-card {
    width: 300px;
    height: 400px;
    font-size: small;
  }

  .product-card img {
    width:100%;
    height: 300px;
  }
}